<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Billing | Create</title>
</head>
<body>

	<h2>Billing | Create</h2>
	<hr>
	
	<div th:text="${msg}"></div>
	
	<div>
		<form th:action="@{/saveBill}" method="post">
			<div>
				<strong>First Name</strong><input type="text" name="firstName" th:value="${contact.firstName}"/>
			</div>
			<div>
				<strong>Last Name</strong><input type="text" name="lastName" th:value="${contact.lastName}"/>
			</div>
			
			<div>
				<strong>Email</strong><input type="email" name="email" th:value="${contact.email}"/>
			</div>
			<div>
				<strong>Mobile</strong><input type="tel" name="mobile" th:value="${contact.mobile}"/>
			</div>
			<div>
				<strong>Product Name</strong><input type="text" name="product" />
			</div>
			<div>
				<strong>Amount</strong><input type="text" name="amount" />
			</div>
			<div>
				<input type="submit" value="Generate Bill"/>
			</div>
		</form>
	</div>
</body>
</html>