<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2>Lead | Info </h2>
	<hr />
	
	<div>
		Lead Id : <strong th:text="${lead.id}"></strong>
	</div>
	<div>
		First Name : <strong th:text="${lead.firstName}"></strong>
	</div>
	<div>
		Last Name : <strong th:text="${lead.lastName}"></strong>
	</div>
	<div>
		Lead Source : <strong th:text="${lead.leadSource}"></strong>
	</div>
	<div>
		Email : <strong th:text="${lead.email}"></strong>
	</div>
	<div>
		Mobile : <strong th:text="${lead.mobile}"></strong>
	</div>
</body>
</html>