<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h2>Lead | Info </h2>
	<hr />
	
	<div>
		Lead Id : <strong th:text="${lead.id}"></strong>
	</div>
	<div>
		First Name : <strong th:text="${lead.firstName}"></strong>
	</div>
	<div>
		Last Name : <strong th:text="${lead.lastName}"></strong>
	</div>
	<div>
		Lead Source : <strong th:text="${lead.leadSource}"></strong>
	</div>
	<div>
		Email : <strong th:text="${lead.email}"></strong>
	</div>
	<div>
		Mobile : <strong th:text="${lead.mobile}"></strong>
	</div>
	
	<div>
		<form th:action="@{/composeEmail}" method="post">
			<input type="hidden" name="email" th:value="${lead.email}"/>
			<input type="submit" value="Send Email">
		</form>
	</div>
	<div>
		<form th:action="@{/convertLead}" method="post">
			<input type="hidden" name="id" th:value="${lead.id}"/>
			<input type="submit" value="Convert">
		</form>
	</div>
</body>
</html>